<section class="hero section">
  <div class="container">
    <div class="hero-left-side">
      <h1 class="hero-title">Learn Any Foreign Language</h1>
      <p class="hero-desc">
        With our teachers who write a program for each student, you will be able
        to make your first sketch after the first lesson.
      </p>
      <load
        ="/partials/templates/btn.html"
        class-name="primary-btn large-btn"
        btn-text="Get started"
      />
    </div>
    <div class="hero-right-side">
      <img
        class="hero-img"
        src="./img/hero/learning-languages.svg"
        alt="Funny learning languages"
        width="654"
        height="510"
      />
    </div>
  </div>
</section>
