<section class="skills">
  <div class="container">
    <h2 class="skill-stitle">Skills</h2>
    <ul class="skills-list">
      <li class="skills-item">
        <img
          class="skills-img"
          src="./img/skills/shared.svg"
          alt="shared goals"
          width="390"
          height="390"
        />
        <h3 class="skills-subtitle">Speaking</h3>
        <p class="skills-desc">
          Improve your English skills and confidence. Live classes and
          interactive lessons online. 20% extra free for a limited time only
        </p>
        <p class="skills-desc">
          Learn English online and improve your skills through our high-quality
          courses and resources – all designed for adult language learners.
        </p>
        <load
          ="/partials/templates/btn.html"
          class-name="primary-btn small-btn"
          btn-text="Learn more"
        />
      </li>
      <li class="skills-item">
        <img
          class="skills-img"
          src="./img/skills/typewriter.svg"
          alt="typewriter"
          width="390"
          height="264"
        />
        <h3 class="skills-subtitle">Writing</h3>
        <p class="skills-desc">
          One of the most important and extensive areas of natural science, the
          science that studies substances, also their composition
        </p>
        <load
          ="/partials/templates/btn.html"
          class-name="primary-btn small-btn"
          btn-text="Learn more"
        />
      </li>
      <li class="skills-item">
        <img
          class="skills-img"
          src="./img/skills/bookshelves.svg"
          alt="Hous bookshelves"
          width="390"
          height="264"
        />
        <h3 class="skills-subtitle">Reading</h3>
        <p class="skills-desc">
          Perception and response actions of the user resulting from the use
          and/or upcoming use of the product, system or service
        </p>
        <load
          ="/partials/templates/btn.html"
          class-name="primary-btn small-btn"
          btn-text="Learn more"
        />
      </li>
      <li class="skills-item">
        <img
          class="skills-img"
          src="./img/skills/podcast.svg"
          alt="Podcast audience"
          width="408"
          height="274"
        />
        <h3 class="skills-subtitle">Listening</h3>
        <p class="skills-desc">
          Here you can find activities to practise your listening skills.
          Listening will help you to improve your understanding
        </p>
        <load
          ="/partials/templates/btn.html"
          class-name="primary-btn small-btn"
          btn-text="Learn more"
        />
      </li>
    </ul>
  </div>
</section>
